.container{
    background-color: #fff;
    width: 80%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    padding: 20px 0px;

    box-shadow: 0px 8px 9px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

article{
    margin-bottom: 50px;
    width: 95%;
}

.hidden{
    display: none;
}

h2{
    height: 50px;
    font-weight: normal;
    font-size: 30px;
    line-height: 32px;
    letter-spacing: 0.018em;
}

ul{
    list-style-type: disc;
    padding-left: 30px;

    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.018em;
}

p{
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.018em;
}

/* ######################## QUESTÃO 1 ######################## */

.question1{
    background-color: #fff;
}

.example1{
    
    display: flex;
    justify-content: center;

    padding-top: 30px;
}

.example1 div{
    width: 800px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.example1 button{
    width: 300px;
    height: 60px;

    border-radius: 10px;
    border: none;
    background-color: #42a5f5;

    font-weight: normal;
    font-size: 25px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.018em;
}

.example1 img, .example2 img{
    border-radius: 10px;
    width: 236px;
    box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.25);
}

h3{
    height: 70px;

    display: flex;
    align-items: center;
    
    font-weight: normal;
    font-size: 23px;
    line-height: 23px;
    letter-spacing: 0.018em;
}

strong{
    font-weight: bold;
}

.cursor{
    cursor: pointer;
}

.mouse-events{
    width: 200px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 5px;
    background-color:#D94A38;
}

.keyboard-events input{
    background-color: #cccccc;
    height: 30px;
    border-radius: 5px;
    border: none;
}

.keyboard-events .keys{
    background-color: #cccccc;
    width: 500px;
    height: 70px;
}

/* ######################## QUESTÃO 2 ######################## */

.example2{
    display: flex;
    justify-content: space-between;
}

.syntax{
    display: flex;
    justify-content: center;
}

.syntax img{
    width: 800px;
}

.button{
    background-color: red;
    width: 110px;
    padding: 10px;
}

.hide{
    visibility: hidden;
}

.shown{
    visibility: visible;
}

/* ######################## QUESTÃO 3 ######################## */

.example3{
    width: 100%;
    display: flex;
    justify-content: center;
}

.example3 .code{
    width: 500px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    background-color: #cccccc;
}

.code > p{
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 0.018em;
}

/* ######################## QUESTÕES 4 e 5 ######################## */

.question4, .question5, .question6, .question7{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.question4 img, .question5 img, .question6 img, .question7 img{
    border-radius: 10px;
    width: 300px;
    height: 300px;
    box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.25);
}

/* ######################## QUESTÃO 6 ######################## */

.question6 .title{
    width: 100%;
}

.question6 .dom-tree{
    width: 100%;
    
    display: flex;
    justify-content: center;

    padding-top: 50px;
}

.dom-tree img{
    width: 400px;
    height: 400px;
}

/* ######################## Animação ######################## */

[data-anime]{
    opacity: 0;
    transition: .3s;
}

[data-anime="left"]{
    transform: translate3d(-50px, 0, 0);
}

[data-anime="right"]{
    transform: translate3d(50px, 0, 0);
}

[data-anime].animate{
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}